<div>
    <h1>{{title}}</h1>
    <div class='panel-body'>
        <div class='table-responsive'>
            <table class='table table-striped'>
                <thead>
                    <tr>
                        <th>#</th>
                        <th>User ID</th>
                        <th>User Name</th>
                        <th>Email</th>
                        <th>Delete</th>
                    </tr>
                </thead>
                <tbody>
                    <tr
                        *ngFor="let user of users | slice: (page-1) * pageSize : (page-1) * pageSize + pageSize; index as i">
                        <td>{{ i + 1 }}</td>
                        <td>{{user.id}}</td>
                        <td>{{user.username}}</td>
                        <td>{{user.email}}</td>
                        <td><button (click)="Xoa(user)" type="button" class="btn btn-warning">Xóa</button></td>
                    </tr>
                </tbody>
            </table>
            <ngb-pagination [(page)]="page" [pageSize]="pageSize" [collectionSize]="users.length"
                [boundaryLinks]="true"></ngb-pagination>

            <div class="container">
                <div class="row">
                    <div class="col-sm-6 col-md-6">
                        <form [formGroup]="profileForm" (ngSubmit)="updateProfile()">
                            <div class="form-group">
                                <label for="exampleInputEmail1">User ID</label>
                                <input type="text" class="form-control" id="exampleInputEmail1"
                                    aria-describedby="emailHelp" formControlName="userId">

                            </div>
                            <div class="form-group">
                                <label for="exampleInputPassword1">User Name</label>
                                <input type="text" class="form-control" id="exampleInputPassword1"
                                formControlName="userName">
                            </div>

                            <div class="form-group">
                                <label for="exampleInputPassword1">Email</label>
                                <input type="text" class="form-control" id="exampleInputPassword1" formControlName="Email">
                            </div>

                            <button type="submit" class="btn btn-primary">Submit</button>
                        </form>
                    </div>
                </div>
            </div>
            <!--<select class="custom-select" style="width: auto" [(ngModel)]="pageSize">
                <option [ngValue]="2">2 Items per page</option>
                <option [ngValue]="4">4 Items per page</option>
                <option [ngValue]="6">6 Items per page</option>
            </select> -->



        </div>
    </div>
</div>